.home{
    display: flex;
}

.search{
    margin-left: 150px;
}

 img{
    border-radius: 100%;
    margin-right: 30px;
}




.productContainer{
    display: flex;
    width: 78%;
    padding: 20px;
    flex-wrap: wrap;
    justify-content: space-around;
    
    
}

/* ------------------------Filter------------------ */

.filters{
    background-color: #343a40;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    width: 20%;
    margin: 10px;
    height: 86vh;
}

.filters > span{
    padding-bottom: 20px;
}

.title {
    font-size: 30px;
}
/* .Card.Body Button{
    display: flex;
} */

.products{
    width: 30%;
    margin: 10px;
    
}

/* -----------------Cart -------------------- */

.Card.Img{
    height: 100%;
}



.cartitem{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid black;
    

}


.cartItemImg {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.cartItemDetail{
    display: flex;
    flex: 1;
    padding: 0 20px;
    flex-direction: column;

}

/* ----------------Summary------ */

.summary{
    width: 30%;
}


/* ----------------Email-------------- */

.Email{
    background-image: url(https://png.pngtree.com/thumb_back/fh260/background/20200714/pngtree-modern-double-color-futuristic-neon-background-image_351866.jpg);
    background-repeat: no-repeat;
    background-size : 100% 80% ;
    
}

.Email button{
    width: 120px;
    height: 35px;
    background-color: dodgerblue;
    color: white;
    border-radius: 3rem;
    margin-left: 140px;
}

.Email button:hover{
    background-color: green;
}

.call{
    color: red;
    position: absolute;
    transform: translate(-50%, -50% );
    left: 50%;
    top: 50%;
    background-color: #6454ff;
    color: #ffffff;
    font-family: "poppins", sans-serif;
    font-size: 1.5em;
    padding: 1em 2em;
    text-decoration: none;
    border-radius: 0.3em;
    box-shadow: 0 15px 45px rgba(10, 0, 83, 0.2);

}

/* -----------------------------From---------------- */

form{
    margin-left: 400px;
}
form label input{
    margin-top: 70px;
}

 form input{
    margin-left: 22px;
}

label{
    color: white;
}
form textarea{
    width: 200px;
    margin-top: 20px;
    height: 40px;
}

/* -----------------Login----------------- */


.Login{
    height: 100vh;
    text-align: center ;
    /* align-items: cente; */
    /* margin-top: 200px; */
    padding: 180px;
    background-image: url(https://st.depositphotos.com/1001069/1259/i/450/depositphotos_12595238-stock-photo-nature-blurred-bokeh-background.jpg);
    background-repeat: no-repeat;
    background-size : 100%  ;
   

}

.user{
    /* border: 2px solid black; */
    width: 400px;
    height: 250px;
    padding: 20px;
    margin-left: 250px;
    backdrop-filter: blur(40px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background: transparent;
    /* border: 2px solid gray; */

}

.Login h3{
    margin-left: 30px;
}
.Login button{
    width: 100px;
    background-color:bisque;
    color: black;
    margin-left: 50px;
    border-radius: 2rem;
}

.Login button:hover{
    background-color: lightgreen;
}

/* -----------------Email */








/* -----Responsive--------- */

@media(max-width: 771px){
    .filters{
        width: 40%;
        padding: 10px;
        margin: 5px;
    }

    .filters > span{
        font-size: 10px;
    }

    .title{
        font-size: 18px !important;
    }

    .productContainer{
        width: 58%;
        padding: 0;
    }

    .search{
        display: none !important;
    }

    .products{
        width: 100%;
    }
}

@media (max-width: 888px) {
        form{
           margin-left: 180px;
        }    
}

@media (max-width: 600px) {
    form{
       font-size: 10px;
    }    
}

@media (max-width: 460px){
        form {
            margin-left: 70px;
        }
}